@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Public Sans";
}

.custom-blog-html p {
  @apply text-black text-sm leading-relaxed mb-4;
}

.custom-blog-html h1,
.custom-blog-html h2,
.custom-blog-html h3,
.custom-blog-html h4 {
  color: #D2AF6E;
  @apply font-semibold mt-6 mb-3 text-lg;
}

/* TestimonialSlider.css */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
